@charset "UTF-8";

@media screen and (min-width: 700px){

body {
    width: 1440px;

}    
.viewport{
    max-width: none;  
    width: 769px;
}

.menu{
    width: 78%;
    height: 65%;

    display: flex;
    flex-direction: row;
    align-items: center;
}
.info{
height: 100%;
width: 50%;
}
.image{
    height: 100%;
    width: 50%;
    background-image: url(../images/image-product-desktop.jpg);
}
}